{{ define "header" }}    
<div class="top">
  <img src="/images/logo.png"></img>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</div>
{{ end }}

{{ define "main" }}
    <h1 class="text-center">{{.Title}}</h1>
    <div class="tiles">
        <div class="tile">
            <h4>Professional Go</h4>
            <p>Your customers expect reliable and tested code in their production systems!</p>
            <p>In workshops, we teach the best ways to test and leverage the Go standard library first.</p>
        </div>
        <div class="tile">
            <h4>Hands-on Trainers</h4>
            <p>Workshops are conducted by seniors that work on advanced platforms everyday.</p>
            <p>A proven track record for pragmatic and tested solutions, using their real life code examples when tutoring.</p>
        </div>
        <div class="tile">
            <h4>One week post support</h4>
            <p>Post workshop, we provide a week support for any remaining questions or topic.</p>
            <p>Via video calls sessions we address together your challenges.</p>
        </div>
    </div>
{{ end }}