{{ define "header" }}    
<div class="top">
  <img src="/images/logo.png"></img>
  <nav>
    <ul>
      <li><a href="#security">Security</a></li>
      <li><a href="/workshops">Workshops</a></li>
    </ul>
  </nav>
</div>
{{ end }}

{{ define "main" }}
  <section class="transition">
      <p>Defend. Develop. Deliver.</p>
  </section>

  <section id="security">
    <h2 class="left">Security</h2>
    <p>We provide security reviews, pentesting and analysis: <i>Codebases, Backend, API, Platform, CI/CD Pipelines, Kubernetes, Infra, Cloud.</i></p>
    <div class="appraisals">
      <div class="appraisal top-left">
        <h3>“Simon's security audit on our wallet component saved us money before going to any ANSSI certification.”</h3>
        <div class="position"><span>Fred de Matos - VP of Engineering, Rockside</span><img src="images/rockside-logo.png"></img></div>
      </div>
      <div class="appraisal top-right">
        <h3>“Rekon tools and analysis allowed Edulib to detect and remove a open redirect to a phishing website.”</h3>
        <div class="position"><span>Emilie Barreau - Director, Edulib</span><img src="images/edulib-logo.png"></img></div>
      </div>
      <div class="appraisal down-left">
        <h3>“Rekon gave us a complete overview of our public infrastructure so that we could simplify greatly its architecture and remove obsolete resources”</h3>
        <div class="position"><span>Eric Herve - CTO, Edulib</span><img src="images/edulib-logo.png"></img></div>
      </div>
      <div class="appraisal down-right">
        <h3>“We have strengthened and formalized our SDLC thanks to Simon. It enabled us to bump the security of our processes and set-up tools to ensure it stays secured”</h3>
        <div class="position"><span>Jeff - Information Security Officer, Hivebrite</span><img src="images/hivebrite-logo.png"></img></div>
      </div>
    </div>
  </section>
  
  <section class="transition">
    <p>Hands-on training #InfoSec #Go</p>
  </section>
  
  <section id="training">
    <h2 class="right">Workshops</h2>
    <p class="text-center">Learn Production and Test Driven Go with our 2 days hands-on workshops</p>
    <div class="tiles">
      <div class="tile">
          <h4>Professional Go</h4>
          <p>Your customers expect reliable, test driven code in their production systems!</p>
          <p>During 2 days, we implement a real product, learn key concepts and how to best leverage the ecosystem.</p>
      </div>
      <div class="tile">
          <h4>Hands-on Trainers</h4>
          <p>Workshops are conducted by seniors that work on advanced platforms everyday.</p>
          <p>A proven track record for pragmatic and tested solutions, using their real life solutions when tutoring.</p>
      </div>
      <div class="tile">
          <h4>One week post support</h4>
          <p>Post workshop, we provide support for any remaining questions or topic.</p>
          <p>Via video calls sessions we address together your challenges.</p>
      </div>
    </div>
    <div class="center"><a class="button" href="/workshops">See our workshops!</a></div>
  </section>
{{ end }}