
/* Reset */
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    --brand-color: #00326f;
    --brand-green: #33db77; 
    --white-color: #f4f4f4;
    --shawdow-color: #574ae2;
}

body {
    margin: unset;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

main {
    color: var(--brand-color);
    margin: 3em;
}

footer {
    background-color: var(--brand-color);
    color: var(--white-color);
    margin-top: auto;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
}

header {
    background-color: var(--brand-color);
    padding-block: 1em;
}

header img {
    max-inline-size: 15rem;
    height: auto;
}

header .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 4em;
}

nav ul {
    display: flex;
    gap: 2em;
    list-style: none;
}

nav a {
    font-size: x-large;
    text-decoration: none;
    color: var(--white-color);
}

nav a:hover {
    color: var(--brand-green);
}

#rekon {
    margin-block: 5em;
}

#rekon p {
    margin: unset;
    font-size: 4em;
    font-weight: 300;
    text-align: center;
}

section {
    margin-inline: 1em;
    margin-bottom: 5em;
}

section p {
    font-size: 1.5em;
}

section h2 {
    font-size: xx-large;
    color: #00326F;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px;
}

a.button {
    font-family: sans-serif;
    margin-inline: auto;
    cursor: pointer;
    outline: 0 solid transparent;
    border-radius: 0.5em;
    color: white;
    background-color: var(--brand-green);
    padding-block: 0.2em;
    padding-inline: 1em;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: var(--shawdow-color) 0 10px 20px -10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.left {
    border-image: linear-gradient(to right, #F4F4F4, #00326F) 1;
}

h2.right {
    text-align: right;
    border-image: linear-gradient(to left, #F4F4F4, #00326F) 1;
}

.text-center {
    text-align: center;
}

.appraisals {
    display: grid;
    gap: 3%;
    grid-template-areas: 
    "tl tl tr"
    "dl dr dr";
}

.top-left { grid-area: tl; align-self: center;}
.top-righ { grid-area: tr; align-self: center;}
.down-left { grid-area: dl; align-self: center;}
.down-right { grid-area: dr; align-self: center;}

.appraisals h3 {
    font-weight: 400;
    font-style: italic;
}

.appraisals span {
    font-weight: lighter;
    font-size: x-large;
}

.appraisal {
    border-radius: 30px;
    padding: 3em 1em 0em 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.position {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.position img {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    width: auto;
}

.tiles {
    display: flex;
    gap: 1em;
}

.tile {
    flex: 1;    
}

.tile p {
    text-align: justify;
    padding-inline: 3em;
}

.tile h4 {
    text-align: center;
}

.workshop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 0.5em;
    margin-block: 2em;

    img {
        border-radius: 3%;
    }
}

.workshop-title {
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 1 / 1;
}

.workshop-image {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.workshop-overview {
    grid-column: 2 / 4;
    grid-row: 2 / 2;
    padding-inline-start: 4em;;
}

.workshop-subtitle {
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}

.workshop-content {
    grid-column: 1 / -1;
    grid-row: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 3em;
}